<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
</head>
<body>
  <h1>USERS</h1>
  <table border="1">
      <tr>
        <th>User</th>
      </tr>
      <% for(var i=0; i<users.length; i++){ %>
      <tr>
        <td><%= users[i].user%></td>
      </tr>
      <% } %>
    </table>
    <br>
    <a href="/">Click to go to Home Page...</a>
</body>
</html>